
{% macro alpaca_array_field(name, data) %}
<div id="{{name}}"></div>
<script type="text/javascript">
    $('#{{ name }}').alpaca({
    {% if data is null %}
        data: [],
    {% else %}
        data: {{ data|json_encode(JSON_FORCE_OBJECT)|raw }},
    {% endif %}
        options: {
            name: "{{name}}",
            id: "{{name}}"
        }
    });
</script>
{% endmacro %}

{% macro radiobool(name, answer) %}
<div>
    <input type="radio" name="{{name}}" value="yes" {{ answer[name] == 'yes' ? 'checked' : '' }}> Yes
</div>
<div>
    <input type="radio" name="{{name}}" value="no" {{ answer[name] == 'no' ? 'checked' : '' }}> No
</div>
{% endmacro %}

{% macro display_radiobool(name, answer) %}
<div class="box box-answer previous-answer recap-answer">
    {{ answer[name]|title }}
</div>
{% endmacro %}

{% block alpaca_field %}
{{ _self.alpaca_array_field(name, data) }}
{% endblock %}

{% block customform_2_2 %}
<div class="custom-form">
    {% for category in categories %}
    {% set fieldname = category|sanitizename %}
    <div class="fieldcontainer" id="{{category}}">
        <legend>{{ category|title }}</legend>
        {{ _self.alpaca_array_field(fieldname ~ '___purposes', answer[fieldname ~ '___purposes'] ) }}
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block customform_2_2_recap %}
<div class="custom-form">
    {% for category in categories %}
    {% set fieldname = category|sanitizename %}
    <div class="recap-fieldcontainer" id="{{category}}">
        <h3>{{ category|title }}</h3>
        <ul class="box box-answer previous-answer recap-answer" data-field="{{fieldname}}">
            {% for value in answer[fieldname ~ '___purposes'] %}
            <li>{{ value }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block customform_2_3 %}
<div class="custom-form">
    {% set followup = 'hide' %}
    {% for category in categories %}
    {% set fieldname = category|sanitizename %}
    {% set value = answer[fieldname ~ '___lawful_basis'] %}
    {% if value == 'consent' %}
    {% set followup = '' %}
    {% endif %}

    <div class="fieldcontainer" id="{{category}}">
        <legend>{{category|title}}</legend>
        <div>
            Select a lawful basis for processing {{category}}:
            <select class="customform-23-select" name="{{fieldname}}___lawful_basis">
                <option value="">(none selected)</option>
                {% for basisname, basis_title in lawful_bases %}
                <option value="{{basisname}}" {{ (value == basisname) ? 'selected' : '' }}>{{basis_title}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% endfor %}
    <div class="{{ followup }} followup" id="consentform">
        <div>At the moment of the data collection, is a concise, transparent, intelligible and clear
            notice and consent given to the data subjects?
            {{ _self.radiobool('notice_provided', answer) }}
        </div>
        <div>Are procedures provided for the withdrawal of the consent?
            {{ _self.radiobool('withdrawal_procedure', answer) }}
        </div>
        <div>Do you delete data after withdrawal of consent?
            {{ _self.radiobool('delete_after_withdrawal', answer) }}
        </div>
    </div>
</div>
{% endblock %}

{% block customform_2_3_recap %}
<div class="custom-form">
    {% set followup = 'hide' %}
    {% for category in categories %}
    {% set fieldname = category|sanitizename %}
    {% set value = answer[fieldname ~ '___lawful_basis'] %}
    {% if value == 'consent' %}
    {% set followup = '' %}
    {% endif %}
    <div class="recap-fieldcontainer" id="{{category}}">
        <h3>{{category|title}}</h3>
        <div class="box box-answer previous-answer recap-answer" data-field="{{fieldname}}">
            Lawful basis for processing {{category}}:  {{lawful_bases[value]}}
        </div>
    </div>
    {% endfor %}
    <div class="{{ followup }} followup" id="consentform">
        <div>At the moment of the data collection, is a concise, transparent, intelligible and clear
            notice and consent given to the data subjects?
            {{ _self.display_radiobool('notice_provided', answer) }}
        </div>
        <div>Are procedures provided for the withdrawal of the consent?
            {{ _self.display_radiobool('withdrawal_procedure', answer) }}
        </div>
        <div>Do you delete data after withdrawal of consent?
            {{ _self.display_radiobool('delete_after_withdrawal', answer) }}
        </div>
    </div>
</div>
{% endblock %}

{% block customform_2_4 %}
<div class="custom-form">

    {% for category in categories %}
    {% set fieldname = category|sanitizename %}
    <div class="fieldcontainer" id="{{ category }}">
        <legend>{{ category|title }}</legend>
        {{ _self.alpaca_array_field(fieldname ~ "___shared", answer[fieldname ~ "___shared"]) }}
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block customform_2_4_recap %}
<div class="custom-form">
    {% for category in categories %}
    {% set fieldname = category|sanitizename %}
    <div class="recap-fieldcontainer" id="{{ category }}">
        <h3>{{ category|title }}</h3>
        <ul class="box box-answer previous-answer recap-answer" data-field="{{fieldname}}">
            {% for value in answer[fieldname ~ "___shared"] %}
            <li>{{value}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
{% endblock %}
