{% macro radiobool(name, answer) %}
<div class="box box-answer previous-answer recap-answer">
    {{ answer[name]|title }}
</div>
{% endmacro %}
<div class="custom-form">
    {% set followup = 'hide' %}
    {% for category in categories %}
        {% set fieldname = category|sanitizename %}
        {% set value = answer[fieldname ~ '___lawful_basis'] %}
        {% if value == 'consent' %}
            {% set followup = '' %}
        {% endif %}
    <div class="recap-fieldcontainer" id="{{category}}">
        <h3>{{category|title}}</h3>
        <div class="box box-answer previous-answer recap-answer" data-field="{{fieldname}}">
            Lawful basis for processing {{category}}:  {{lawful_bases[value]}}
        </div>
    </div>
    {% endfor %}
    <div class="{{ followup }} followup" id="consentform">
        <div>At the moment of the data collection, is a concise, transparent, intelligible and clear
            notice and consent given to the data subjects?
            {{ _self.radiobool('notice_provided', answer) }}
        </div>
        <div>Are procedures provided for the withdrawal of the consent?
            {{ _self.radiobool('withdrawal_procedure', answer) }}
        </div>
        <div>Do you delete data after withdrawal of consent?
            {{ _self.radiobool('delete_after_withdrawal', answer) }}
        </div>
    </div>
</div>