@background: 	#ced8e1;
@header: 		#454354;
@footer: 		#760b58;
@text: 			#000;
@white: 		#ffffff;

@hp-footer: #760b58;

@heading-text: #1e3eac;

@questions-box: #D2DCE0;
@example-box: 	#B4CDCD;
@casestudy-box: #B9D6CA;
@research-box: 	#DFD1D8;
@tips-box: 		#F4CBC0;
@answer-box: 	#FAF7F3;

@btn: 			     #db5fb3;
@btn-pressed: 	#D05738;
@btn-on-hover: 	#F56947;
@btn-next:      #1e3eac;

@sidebar-header: 	#4a525e;
@sidebar-bg: 		#697687;
@sidebar-active:  	#2c3137;
@sidebar-hover: 	#DE694B;
@sidebar-done:      #1e3eac;
